<section class="px-6 py-20">
  <div class="mx-auto max-w-screen-xl">

    <!-- Intro -->
    <div class="max-w-3xl">
      <h1 class="text-4xl font-bold text-primary dark:text-dark-primary md:text-5xl">
        @if (profile) {
          Hi, I am {{ profile.fullName }}
        } @else {
          Loading profile...
        }
      </h1>

      <p class="mt-6 text-lg text-text-muted dark:text-dark-text-muted">
        @if (profile) {
          <span class="block font-semibold text-text-main dark:text-dark-text-main">{{ profile.title }}</span>
          <span class="mt-2 block">{{ profile.summary }}</span>
        } @else if (loading) {
          Loading profile...
        } @else if (error) {
          {{ error }}
        }
      </p>

      <div class="mt-8 flex gap-4">


        <a
          href="#experience"
          class="rounded-lg bg-primary px-5 py-2 text-white hover:bg-secondary dark:bg-dark-primary dark:text-dark-background dark:hover:bg-dark-secondary"
        >
          Experience
        </a>

        <a
          href="#projects"
          class="rounded-lg border border-primary px-5 py-2 text-primary hover:bg-surface dark:border-dark-primary dark:text-dark-primary dark:hover:bg-dark-surface"
        >
          Projects
        </a>

        <a
          href="#homelab"
          class="rounded-lg border border-primary px-5 py-2 text-primary hover:bg-surface dark:border-dark-primary dark:text-dark-primary dark:hover:bg-dark-surface"
        >
          Homelab
        </a>

        <a
          href="#certs"
          class="rounded-lg border border-primary px-5 py-2 text-primary hover:bg-surface dark:border-dark-primary dark:text-dark-primary dark:hover:bg-dark-surface"
        >
          Certifications
        </a>

      </div>
    </div>

    <!-- Experience section -->
    <section id="experience" class="mt-24">
      <app-exp/>
    </section>

    <!-- Projects section -->
    <section id="projects" class="mt-24">
      <app-projects/>
    </section>

    <!-- Homelab section -->
    <section id="homelab" class="mt-24">
      <app-homelab/>
    </section>

    <section id="certs" class="mt-24">
      <app-certs/>
    </section>

  </div>
</section>
